.DS_Store
.env
Meta-Llama-3-8B-Instruct.Q4_K_M.gguf
__pycache__/
backend/__pycache__/

venv/
venv311/
venv310/
venv39/
venv312/
backend/logs
backend/models
backend/uploads
backend/vector_db
backend/cache 
.cache 
